:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 100;
  align-items: center;
  color: var(--background);
  padding: 1rem;
  background: var(--foreground);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.body-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1;
  height: 100%;
  background-color: aqua;
  flex-direction: row; 
}

.channels-container{
  border-right: 1px solid var(--foreground);
  padding: 10px 20px;
  height: 100%;
  flex: 1;
  background: red;
}

.channels-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--background);
}

.messages-container{
  flex: 3;
  padding: 10px 20px;
  height: 100%;
  background: blue;
}

.replies-container{
  flex: 2;
  padding: 10px 20px;
  height: 100%;
  background: green;
}
